In [1]:
# Import library yang diperlukan
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load dataset
file_path = "Warehouse_and_Retail_Sales.csv"  # Sesuaikan dengan path file
df = pd.read_csv(file_path)

In [2]:
# Melihat tipe data, jumlah non-null, dan memory usage dari setiap kolom
df.info()

# Menentukan kolom-kolom yang bertipe data kategorikal (object atau category)
categorical_cols = df.select_dtypes(include=['object', 'category']).columns.tolist()

# Menampilkan nama-nama kolom kategorikal
print("Kolom kategorikal:", categorical_cols)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307645 entries, 0 to 307644
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   YEAR              307645 non-null  int64
 1   MONTH             307645 non-null  int64
 2   SUPPLIER          307478 non-null  object
 3   ITEM CODE         307645 non-null  object
 4   ITEM DESCRIPTION  307645 non-null  object
 5   ITEM TYPE         307644 non-null  object
 6   RETAIL SALES      307642 non-null  float64
 7   RETAIL TRANSFERS  307645 non-null  float64
 8   WAREHOUSE SALES   307645 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 21.1+ MB
Kolom kategorikal: ['SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION', 'ITEM TYPE']

In [3]:
 # Menampilkan 5 baris pertama dari dataset untuk melihat isi data secara umum
df.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

In [4]:
# Memilih semua kolom dari DataFrame df yang bertipe 'object' (biasanya data kategorikal seperti string)
categorical_cols = df.select_dtypes(include='object').columns

# Menampilkan nama-nama kolom kategorikal yang ditemukan
print("Kolom kategorikal:", categorical_cols)

Kolom kategorikal: Index(['SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION', 'ITEM TYPE'], dtype='object')

In [5]:
# Membuat dictionary untuk mengklasifikasikan jenis data tiap kolom dalam dataset
# Tujuannya adalah mengidentifikasi apakah kolom tersebut termasuk data nominal, ordinal, diskrit, atau kontinu
kategori = {
    'YEAR': 'Diskrit',               # Tahun (bilangan bulat)
    'MONTH': 'Diskrit',              # Bulan (bilangan bulat, 1â€“12)
    'SUPPLIER': 'Nominal',           # Nama pemasok, berupa teks tanpa urutan
    'ITEM CODE': 'Nominal',          # Kode produk, unik tapi tidak berurutan
    'ITEM DESCRIPTION': 'Nominal',   # Deskripsi produk, berupa teks
    'ITEM TYPE': 'Nominal',          # Tipe produk (WINE, BEER, dll), kategori
    'RETAIL SALES': 'Continous',     # Penjualan retail, bisa berupa desimal
    'RETAIL TRANSFERS': 'Continous', # Transfer antar retail, desimal
    'WAREHOUSE SALES': 'Continous'   # Penjualan dari gudang, desimal
}

# Menampilkan isi dari dictionary kategori
print(kategori)

{'YEAR': 'Diskrit', 'MONTH': 'Diskrit', 'SUPPLIER': 'Nominal', 'ITEM CODE': 'Nominal', 'ITEM DESCRIPTION': 'Nominal', 'ITEM TYPE': 'Nominal', 'RETAIL SALES': 'Continous', 'RETAIL TRANSFERS': 'Continous', 'WAREHOUSE SALES': 'Continous'}

## Preprocessing

In [6]:
# Menampilkan semua nama kolom yang ada di dalam DataFrame
print(df.columns)

Index(['YEAR', 'MONTH', 'SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION',
       'ITEM TYPE', 'RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES'],
      dtype='object')

In [8]:
df.isnull().sum()

YEAR                  0
MONTH                 0
SUPPLIER            167
ITEM CODE             0
ITEM DESCRIPTION      0
ITEM TYPE             1
RETAIL SALES          3
RETAIL TRANSFERS      0
WAREHOUSE SALES       0
dtype: int64

In [9]:
# Cek apakah ada data duplikat
df.duplicated().sum()

0

In [11]:
# Menampilkan baris yang memiliki nilai null pada semua kolom
print(df[df.isnull().any(axis=1)])

        YEAR  MONTH SUPPLIER ITEM CODE           ITEM DESCRIPTION  \
107     2020      1      NaN       107  JIGGER MEASURE SHOT GLASS
189     2020      1      NaN       113     BARTENDERS BLACK  BOOK
233     2020      1      NaN       115    PLASTIC SHOT GLASS PACK
254     2020      1      NaN       117    WHISKEY TASTING JOURNAL
263     2020      1      NaN       118    PLASTIC WINE GLASS PACK
...      ...    ...      ...       ...                        ...
307193  2020      9      NaN         4                   RMS ITEM
307259  2020      9      NaN       118    PLASTIC WINE GLASS PACK
307304  2020      9      NaN       107  JIGGER MEASURE SHOT GLASS
307601  2020      9      NaN        WC                WINE CREDIT
307605  2020      9      NaN       115    PLASTIC SHOT GLASS PACK

           ITEM TYPE  RETAIL SALES  RETAIL TRANSFERS  WAREHOUSE SALES
107     STR_SUPPLIES         14.69              18.0              0.0
189     STR_SUPPLIES          0.40               0.0              0.0
233     STR_SUPPLIES          5.71               6.0              0.0
254     STR_SUPPLIES          0.08               0.0              0.0
263     STR_SUPPLIES          7.40              10.0              0.0
...              ...           ...               ...              ...
307193   NON-ALCOHOL           NaN               0.0              0.0
307259  STR_SUPPLIES          5.20               0.0              0.0
307304  STR_SUPPLIES          8.62              16.0              0.0
307601           REF          0.00               0.0            -70.0
307605  STR_SUPPLIES          4.21               6.0              0.0

[168 rows x 9 columns]

In [12]:
# Menampilkan baris yang memiliki nilai null di kolom ITEM TYPE
print(df[df['ITEM TYPE'].isnull()])

        YEAR  MONTH                           SUPPLIER ITEM CODE  \
105297  2017     10  REPUBLIC NATIONAL DISTRIBUTING CO    347939

                                ITEM DESCRIPTION ITEM TYPE  RETAIL SALES  \
105297  FONTANAFREDDA BAROLO SILVER LABEL 750 ML       NaN           0.0

        RETAIL TRANSFERS  WAREHOUSE SALES
105297               0.0              1.0

In [13]:
df.loc[:, 'ITEM TYPE'] = df['ITEM TYPE'].fillna("Wine")  # Isi dengan "Wine"

In [14]:
print(df[df['SUPPLIER'].isnull()])

        YEAR  MONTH SUPPLIER ITEM CODE           ITEM DESCRIPTION  \
107     2020      1      NaN       107  JIGGER MEASURE SHOT GLASS
189     2020      1      NaN       113     BARTENDERS BLACK  BOOK
233     2020      1      NaN       115    PLASTIC SHOT GLASS PACK
254     2020      1      NaN       117    WHISKEY TASTING JOURNAL
263     2020      1      NaN       118    PLASTIC WINE GLASS PACK
...      ...    ...      ...       ...                        ...
307193  2020      9      NaN         4                   RMS ITEM
307259  2020      9      NaN       118    PLASTIC WINE GLASS PACK
307304  2020      9      NaN       107  JIGGER MEASURE SHOT GLASS
307601  2020      9      NaN        WC                WINE CREDIT
307605  2020      9      NaN       115    PLASTIC SHOT GLASS PACK

           ITEM TYPE  RETAIL SALES  RETAIL TRANSFERS  WAREHOUSE SALES
107     STR_SUPPLIES         14.69              18.0              0.0
189     STR_SUPPLIES          0.40               0.0              0.0
233     STR_SUPPLIES          5.71               6.0              0.0
254     STR_SUPPLIES          0.08               0.0              0.0
263     STR_SUPPLIES          7.40              10.0              0.0
...              ...           ...               ...              ...
307193   NON-ALCOHOL           NaN               0.0              0.0
307259  STR_SUPPLIES          5.20               0.0              0.0
307304  STR_SUPPLIES          8.62              16.0              0.0
307601           REF          0.00               0.0            -70.0
307605  STR_SUPPLIES          4.21               6.0              0.0

[167 rows x 9 columns]

In [15]:
# Menampilkan daftar unik ITEM CODE dari baris di mana SUPPLIER kosong
unique_item_codes = df[df['SUPPLIER'].isnull()]['ITEM CODE'].unique()

# Menampilkan hasil
print("Daftar unik ITEM CODE untuk SUPPLIER yang kosong:")
print(unique_item_codes)

Daftar unik ITEM CODE untuk SUPPLIER yang kosong:
['107' '113' '115' '117' '118' '119' '120' '123' '1279' '2' 'BC' 'WC' '4'
 '116' '600' '3']

In [16]:
# Menampilkan ITEM DESCRIPTION dari baris yang SUPPLIER-nya kosong
print(df[df['SUPPLIER'].isna()]['ITEM DESCRIPTION'])

107       JIGGER MEASURE SHOT GLASS
189          BARTENDERS BLACK  BOOK
233         PLASTIC SHOT GLASS PACK
254         WHISKEY TASTING JOURNAL
263         PLASTIC WINE GLASS PACK
                    ...
307193                     RMS ITEM
307259      PLASTIC WINE GLASS PACK
307304    JIGGER MEASURE SHOT GLASS
307601                  WINE CREDIT
307605      PLASTIC SHOT GLASS PACK
Name: ITEM DESCRIPTION, Length: 167, dtype: object

In [17]:
print(df[df['SUPPLIER'].isna()]['ITEM DESCRIPTION'].unique())

['JIGGER MEASURE SHOT GLASS' 'BARTENDERS BLACK  BOOK'
 'PLASTIC SHOT GLASS PACK' 'WHISKEY TASTING JOURNAL'
 'PLASTIC WINE GLASS PACK' 'BRUMATE WINE TUMBLER' 'WHISKEY BARREL'
 'HOLIDAY TOTE FOIL BAG' 'EMPTY WINE KEG - KEGS' 'ICE' 'BEER CREDIT'
 'WINE CREDIT' 'RMS ITEM' 'WHISKEY TASTING KIT' 'ISTORE TRAINING OVERVIEW'
 'COUPON']

In [18]:
df.loc[:, 'SUPPLIER'] = df['SUPPLIER'].fillna(df['SUPPLIER'].mode()[0])  # Isi dengan modus

In [19]:
print(df[['SUPPLIER']].head(10))  # Menampilkan 10 baris pertama kolom SUPPLIER

                            SUPPLIER
0  REPUBLIC NATIONAL DISTRIBUTING CO
1                          PWSWN INC
2            RELIABLE CHURCHILL LLLP
3          LANTERNA DISTRIBUTORS INC
4               DIONYSOS IMPORTS INC
5            KYSELA PERE ET FILS LTD
6           SANTA MARGHERITA USA INC
7   BROWN-FORMAN BEVERAGES WORLDWIDE
8                 JIM BEAM BRANDS CO
9          INTERNATIONAL CELLARS LLC

In [20]:
df.loc[:, 'RETAIL SALES'] = df['RETAIL SALES'].fillna(df['RETAIL SALES'].median())  # Isi dengan median

In [21]:
# Menampilkan nilai unik setelah pengisian
print(df['RETAIL SALES'].unique())

[  0.     0.82   2.76 ... 163.72  65.43 372.45]

## Encoding Data Kategorikal

In [28]:
# ðŸ’¬ Mengimpor class LabelEncoder dari scikit-learn untuk mengubah data kategorikal menjadi data numerik
from sklearn.preprocessing import LabelEncoder

# 5. Label Encoding untuk ITEM CODE
le_item_code = LabelEncoder()
df.loc[:, 'ITEM CODE'] = le_item_code.fit_transform(df['ITEM CODE'].astype(str))

In [31]:
# 6. Label Encoding untuk ITEM DESCRIPTION
le_item_desc = LabelEncoder()
df.loc[:, 'ITEM DESCRIPTION'] = le_item_desc.fit_transform(df['ITEM DESCRIPTION'].astype(str))

# One-Hot Encoding

In [29]:
# 3. One-Hot Encoding untuk ITEM TYPE
ohe = OneHotEncoder(drop='first', sparse_output=False)
df_item_type = pd.DataFrame(ohe.fit_transform(df[['ITEM TYPE']]),
                            columns=ohe.get_feature_names_out())

In [30]:
# 4. Target Encoding untuk SUPPLIER
df['SUPPLIER_ENCODED'] = df['SUPPLIER'].map(df['SUPPLIER'].value_counts(normalize=True))

In [32]:
# 7. Menghapus Kolom Asli yang Sudah Dienkode
df.drop(columns=['ITEM TYPE', 'SUPPLIER'], inplace=True)

In [33]:
# 8. Gabungkan Data setelah Encoding
df_final = pd.concat([df, df_item_type], axis=1)

In [34]:
print("\nData setelah preprocessing:")
print(df_final.head())

Data setelah preprocessing:
   YEAR  MONTH ITEM CODE ITEM DESCRIPTION  RETAIL SALES  RETAIL TRANSFERS  \
0  2020      1         3             4504          0.00               0.0
1  2020      1         8            22397          0.00               1.0
2  2020      1        11            27453          0.00               0.0
3  2020      1        13            28185          0.00               0.0
4  2020      1        20            27966          0.82               0.0

   WAREHOUSE SALES  SUPPLIER_ENCODED  ITEM TYPE_DUNNAGE  ITEM TYPE_KEGS  \
0              2.0          0.068787                0.0             0.0
1              4.0          0.009410                0.0             0.0
2              1.0          0.022659                0.0             0.0
3              1.0          0.011718                0.0             0.0
4              0.0          0.013590                0.0             0.0

   ITEM TYPE_LIQUOR  ITEM TYPE_NON-ALCOHOL  ITEM TYPE_REF  \
0               0.0                    0.0            0.0
1               0.0                    0.0            0.0
2               0.0                    0.0            0.0
3               0.0                    0.0            0.0
4               0.0                    0.0            0.0

   ITEM TYPE_STR_SUPPLIES  ITEM TYPE_WINE  ITEM TYPE_Wine
0                     0.0             1.0             0.0
1                     0.0             1.0             0.0
2                     0.0             0.0             0.0
3                     0.0             1.0             0.0
4                     0.0             1.0             0.0

In [35]:
# Menampilkan baris yang memiliki setidaknya satu nilai 1.0 di kolom hasil encoding ITEM TYPE
df_non_zero_item_type = df_item_type[(df_item_type != 0).any(axis=1)]
print(df_non_zero_item_type)

        ITEM TYPE_DUNNAGE  ITEM TYPE_KEGS  ITEM TYPE_LIQUOR  \
0                     0.0             0.0               0.0
1                     0.0             0.0               0.0
3                     0.0             0.0               0.0
4                     0.0             0.0               0.0
5                     0.0             0.0               0.0
...                   ...             ...               ...
307632                0.0             0.0               1.0
307633                0.0             0.0               0.0
307635                0.0             0.0               0.0
307636                0.0             0.0               0.0
307637                0.0             0.0               0.0

        ITEM TYPE_NON-ALCOHOL  ITEM TYPE_REF  ITEM TYPE_STR_SUPPLIES  \
0                         0.0            0.0                     0.0
1                         0.0            0.0                     0.0
3                         0.0            0.0                     0.0
4                         0.0            0.0                     0.0
5                         0.0            0.0                     0.0
...                       ...            ...                     ...
307632                    0.0            0.0                     0.0
307633                    0.0            0.0                     0.0
307635                    0.0            0.0                     0.0
307636                    0.0            0.0                     0.0
307637                    0.0            0.0                     0.0

        ITEM TYPE_WINE  ITEM TYPE_Wine
0                  1.0             0.0
1                  1.0             0.0
3                  1.0             0.0
4                  1.0             0.0
5                  1.0             0.0
...                ...             ...
307632             0.0             0.0
307633             1.0             0.0
307635             1.0             0.0
307636             1.0             0.0
307637             1.0             0.0

[265232 rows x 8 columns]

In [36]:
print("Hasil One-Hot Encoding untuk ITEM TYPE:")
print(df_item_type.head())  # Menampilkan 5 baris pertama

Hasil One-Hot Encoding untuk ITEM TYPE:
   ITEM TYPE_DUNNAGE  ITEM TYPE_KEGS  ITEM TYPE_LIQUOR  ITEM TYPE_NON-ALCOHOL  \
0                0.0             0.0               0.0                    0.0
1                0.0             0.0               0.0                    0.0
2                0.0             0.0               0.0                    0.0
3                0.0             0.0               0.0                    0.0
4                0.0             0.0               0.0                    0.0

   ITEM TYPE_REF  ITEM TYPE_STR_SUPPLIES  ITEM TYPE_WINE  ITEM TYPE_Wine
0            0.0                     0.0             1.0             0.0
1            0.0                     0.0             1.0             0.0
2            0.0                     0.0             0.0             0.0
3            0.0                     0.0             1.0             0.0
4            0.0                     0.0             1.0             0.0